body{
    margin: 0;
    background: #294860;
}

.nav_container{
    border-bottom: 1px solid #000;
}
.nav_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #13222f;
    margin: 0;
    height: 45px;
    list-style: none;
}

.nav_items2 {
    display: flex;
    gap: 35px;
}

li a {
    text-decoration: none;
    color: #fff;
}

.home_container {
    text-align: center;
    width: 70%;
    margin: 170px auto;
    padding: 70px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #3f7597;
}

.singup_container {
    width: 35%;
    margin: 150px auto;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 40px;
    background: #3f7597;
}

.container {
    display: flex;
    justify-content: center;
    margin: 170px auto;
}

.signin_container {
    border: 1px solid #000;
    padding: 30px 80px;
    border-radius: 20px;
    background: #3f7597;
}

.btn_container {
    text-align: center;
    margin: 30px 0 0;
}

button.btn {
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #13222f;
    color: #fff;
}

.title_container {
    text-align: center;
    margin-bottom: 40px;
}

.task_item {
    width: 40%;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    background: #3f7597;
}

.creates_container {
    width: 20%;
    margin: auto;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 50px;
    background: #3f7597;
}

.completes_container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

input,textarea{
    border-radius: 20px;
}