{% extends 'base.html' %}

{% block content %}

<div class="home_container">
    <h1>Django CRUD</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eum eius veritatis ducimus aperiam vel quae velit necessitatibus a animi, suscipit et earum! Autem alias aliquid, quaerat, quas ducimus libero veniam natus eum officia dolores, sapiente voluptas dicta. Tempore voluptatum ipsa dignissimos nostrum adipisci deserunt, reprehenderit deleniti nisi laborum repellendus ut quis. Commodi ex quae sapiente repudiandae a earum omnis incidunt ut similique magni officiis dolore rem quidem necessitatibus numquam pariatur ducimus aut debitis alias cupiditate ad illum, eaque expedita nihil. Ratione quo eos soluta nostrum cupiditate esse est omnis quis, eaque, corporis, totam assumenda. Natus sit numquam ipsa non</p>
</div>

{% endblock %}